---

import LinkedInIcon from "../components/icons/LinkedIn.astro"
import GitHub from "../components/icons/GitHub.astro"
import Xprof from "../components/icons/Xprofile.astro"

---

<footer class="flex justify-between items-center py-5 w-[1100px] mx-auto xl:w-[1120px] md:w-[730px] sm:w-[640px] md:flex md:justify-around sm:flex sm:justify-around">
     <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center sm:justify-center">
      <span class="text-sm text-[#FEFAE0]  dark:text-[#FEFAE0] md:flex md:justify-around sm:flex sm:justify-around">© 2024 Nova Sánchez. Algunos derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center justify-between sm:justify-between text-sm font-medium text-[#FEFAE0] dark:text-[#FEFAE0]">
        <li class="flex space-x-2 pl-6">
            <Xprof class="w-4 h-4"/>
            <a href="https://twitter.com/RodrigoScz95" class="hover:underline me-4 md:me-6">X/Twitter</a>
        </li>
        <li class="flex space-x-2 pl-6">
            <GitHub class="w-4 h-4"/>
            <a href="https://github.com/rodrigoscz" class="hover:underline me-4 md:me-6">GitHub</a>
        </li>
        <li class="flex space-x-2 pl-6">
            <LinkedInIcon class="w-4 h-4"/>
            <a href="https://www.linkedin.com/in/rodrigoscz/" class="hover:underline me-4 md:me-6">LinkedIn</a>
        </li>
    </ul>
    </div>
</footer>
