

<header class="flex justify-between items-center py-5 w-[1100px] mx-auto xl:w-[1120px] md:w-[730px] sm:w-[640px] md:justify-center sm:justify-center">


    <nav class="flex flex-row gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mí</a>
        <a href="https://drive.google.com/file/d/1vmWBnSiebNbI_hCPNscgVSEgGpu-0YTB/view?usp=sharing" target="_blank">Descarga mi CV aquí</a>
    </nav>
</header>