<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="rounded-full border border-yellow/500 flex justify-center items-center gap-x-2 py-1 md:py-2 px-2 md:px-4 text-xs md:text-base hover:scale-110 hover:bg-amber/400 transition"
>
<slot />
</a>
